/* Loading Spinner */
.loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
    color: #333;
    font-family: var(--main-font-family);
  }
  
  .loading-spinner::before {
    content: '';
    display: inline-block;
    border: 4px solid #f3f3f3; /* Light grey background */
    border-top: 4px solid #3498db; /* Blue spinner color */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  
  /* Keyframe animation for spinner rotation */
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  