.video-container {
  position: relative;
  width: 100%;
  height: 100vh; /* Full viewport height */
  overflow: hidden; /* Hide overflow to trim the video */
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cover the entire container, trimming if necessary */
}
  
.interaction-buttons {
  position: fixed;
  right: 10px;
  top: 75%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 90%;
}
  
.interaction-buttons button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: none;
  color: #333;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.interaction-buttons button img {
  width: 30px;
  height: 30px;
}

.button-clicked {
  filter: invert(41%) sepia(25%) saturate(7132%) hue-rotate(333deg) brightness(103%) contrast(118%);
}

.button-normal {
  filter: invert(100%) sepia(0%) saturate(7469%) hue-rotate(260deg) brightness(113%) contrast(101%);
}

.disable-pointer-events {
  touch-action: none;
}

.end-button-container {
  position: fixed;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 90%;
}

.end-button-container button {
  appearance: none;
  background-color: #ffffff;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: var(--main-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.feed-form {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 10px;
}